.crush
.idea
.vscode

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# PHP-CS-Fixer cache
/.php-cs-fixer.cache

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/coverage/
###< phpunit/phpunit ###

### AI

###
mysql-server.code-workspace
